aioredis==1.0.0
asgiref==2.0.1
async-timeout==3.0.1
attrs==20.2.0
autobahn==20.7.1
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.2
channels==2.0.0
channels-redis==2.0.0
chardet==3.0.4
constantly==15.1.0
cryptography==3.1
daphne==2.5.0
Django==2.0
django-elasticsearch-dsl==0.5.1
django-elasticsearch-dsl-drf==0.5
django-nine==0.2.3
django-socketio==0.3.9
djangorestframework==3.11.0
elasticsearch==5.5.3
elasticsearch-dsl==5.0.0
gevent==20.6.2
gevent-socketio==0.2.1
gevent-websocket==0.10.1
greenlet==0.4.16
hiredis==1.1.0
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
ipaddress==1.0.23
msgpack==0.5.6
mysqlclient==1.4.6
Pillow==7.2.0
psycopg2==2.8.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.24.0
selenium==3.141.0
service-identity==18.1.0
six==1.14.0
sphinx-me==0.3
sqlparse==0.3.1
Twisted==22.10.0
txaio==20.4.1
urllib3==1.25.8
zope.event==4.4
zope.interface==5.1.0
