<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Results</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>

    <body>
        <header style="background-color: #bd5d38; height: 130px;">
            <div><h3 class="card-title" style="padding: 10px; color: white;"><strong>xool.sn</strong></h3></div>
            <div class="card-title"><center style="font-family:cursive; font-size: larger; color: whitesmoke;">Xool, Votre Moteur de recherche sur plus de 14000 publications!</center></div>
        </header>
        
        <div class="container">
            <div class="container-fluid" style="margin: 50px;">
                
                <form action="" method="GET" autocomplete="off"">
                    <div class="form-group autocomplete" style="width: 900px;">
                        <input id="myInput" type="text" name="q" placeholder="Faites votre recherche" class="form-control">
                        
                        <small id="" class="text-muted">
                            Faites votre recherche avec ElasticSearch!
                        </small>
                         
                    </div>
                    
                    <div class="form-group" style="float: right;">
                        <input type="submit" class="btn btn-success" name="" id="" value="Rechercher">
                    </div>
                </form>    
            </div>
            <h6>Le temps de recherche : {{ time }}</h6>
            <div class="">

                {% for publi in publis %}
                <div class="" style="margin: 20px;padding: 10px 50px;">
                    <div class="card card text-white" style="background-color: #656A8C ;">
                        <div class="card-body">
                            <h5 class="card-title" style="color: white; background-color: coral; border-radius: 4px;"><a href="{% url 'detail' identifier=publi.url %}" style="text-decoration: none;"><span class="titre" style="color: white;">{{ publi.title }}</span></a></h5>
                            <p class="card-text"><strong><u>BookTitle</u></strong>: {{ publi.booktitle }}</p>
                            <footer>
                                <cite>
                                    <strong><u>Année</u></strong> : <i>{{ publi.year }}</i>
                                </cite>
                            </footer>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <footer style="bottom: 0px;position: fixed ;background-color: #bd5d38; width: 100%; height: 30px;">
            <center style="font-family:cursive; font-size: 15px; color: whitesmoke;">
                    Made by Hearth with ElasticSearch!
            </center>
        </footer>
        <script src="{% static 'autocompletion.js' %}">
        </script>
        <script>
            autocomplete(document.getElementById("myInput"));
        </script>
    </body>
</html>